<div class="pageContent">
	
	<div ng-hide="showNoResults()">
		<pager></pager>
	</div>
	
	<div class="articleMin" ng-repeat="image in imagesList">
		<a class="fancybox" title="{{image.name}}, {{image.changeDate}}" data-fancybox-type="image" data-fancybox-group="images" href="{{url+image.name}}">
			<div style="width: {{pageController.imageWidth}}px;" class="imageArea">
				<div >
					<img lazy-src="{{url+image.name}}" class="notInitiated" src="inc/placeholder-image.png" alt="" style="width: 100%; height: auto"/>
				</div>
				<div ng-if="pageController.showFileTimes && pageController.showDescriptions()"style="word-wrap: break-word">{{image.changeDate * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</div>
				<div ng-if="pageController.showFileNames && pageController.showDescriptions()"style="word-wrap: break-word">{{image.name}}</div>
			</div>
		</a>
	</div>
	
	<i ng-show="dataLoading" class="fa fa-spinner fa-4x fa-spin marginTop10 marginBottom10"></i>

	<div ng-show="showNoResults()" class="noResults">There are no results for given search criteria. Perhaps folder is empty or it does not contain any image types defined in options.</div>

	<div ng-hide="showNoResults()">
		<pager></pager>
	</div>
	
</div>